@import url('fonts.css');

html {
    background-color: black;
}

.game-container {
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: fit-content;
    background-color: inherit;
    border: 1px solid rgb(19, 19, 19);
}

.game-header {
    height: 12px;
    width: 100%;
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: 'Proxima Nova';
    font-size: 11px;
}

.game-status {
    height: 12px;
    width: 100%;
    margin-bottom: 4px;
    background-color: black;
    color: rgb(148,148,148);
    font-family: 'Proxima Nova';
    font-size: 11px;
}

.teams-container {
    height: 60px;
}

.team-info {
    height: 50%;
    width: 100%;
    color: white;
    font-family: 'Fira Sans';
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}